* {
  margin: 0;
  padding: 0;
  font-family: "Martel Sans", sans-serif;
}

.main {
  background-image: url(img1.jpg);
  background-size: cover;
  width: 100%;
  position: relative;
  height: min(540px, 100vh);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: max(1200px, 100vw);
  min-height: 43.75rem;
}
.box {
  width: 100%;
  height: min(540px, 100vh);
  background: rgb(0 0 0 / 40%);
  position: absolute;
  min-height: 43.75rem;
  top: 0;
  background-image: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.8) 0,
    rgba(0, 0, 0, 0) 60%,
    rgba(0, 0, 0, 0.8) 100%
  );
}

nav {
  width: 85vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  padding-top: 15px;
  height: 62px;
}

.img {
  z-index: 10;
  position: relative;
  width: 200px;
  padding-top: 10px;
}
nav button {
  z-index: 10;
  position: relative;
}

@import url("https://fonts.googleapis.com/css2?family=Martel+Sans:wght@200;300;400;600;700;800;900&display=swap");

.text {
  height: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  color: white;
  font-family: "Martel Sans", sans-serif;
  font-weight: 200;
  font-style: normal;
  text-align: center;
  padding: 30px 0px;
  gap: 2rem;
  margin: 60px 0px;
}
.sign {
  padding: 0.5rem 1.5rem;
  margin-left: 10px;
  color: white;
  background-color: rgb(240, 2, 2);
  border: 2px;
  font-size: 1rem;
  border-radius: 3px;
}
#lang {
  z-index: 10;
  position: relative;
  padding: 0.5rem 1.5rem;
  color: white;
  background-color: rgb(0, 0, 0, 1);
  box-sizing: border-box;
  border-radius: 3px;

  font-size: 1rem;
}

.sign:hover {
  background-color: rgb(201, 21, 21);
}
#submit:hover {
  background-color: rgb(201, 21, 21);
}
.login {
  margin-top: 15px;
  gap: 12px;
  display: flex;
  width: 45vw;
}
#email {
  font-size: 1.5rem;
  line-height: 1.5;
  width: 100%;
  color: rgb(255, 255, 255);
  background-color: rgba(22, 22, 22, 0.7);
  padding: 1.5rem 1rem 0.5rem;
  border-radius: 0.25rem;
  border-width: 0.0625rem;
  border-color: rgba(128, 128, 128, 0.7);
  min-width: 12rem;
}
#submit {
  padding: 10px 25px;
  background-color: rgb(229, 9, 20);
  font-size: 1.5rem;
  font-weight: 700;
  color: rgb(255, 255, 255);
  min-height: 3.5rem;
  border-radius: 0.25rem;
  border: 1px;
}
.tv {
  display: flex;
  justify-content: center;
  background-color: rgb(0, 0, 0);

  color: white;
  margin: auto;
}
.enjoy {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 30px;
  margin: auto;
}
.lcd {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 10;
}

.gap {
  width: 100%;
  height: 10px;
  background-color: rgb(35, 35, 35);
}

.h1 {
  font-size: 3rem;
  font-weight: 800;
  display: flex;
  align-items: center;
  /* text-align: center; */
  justify-content: center;
  color: white;
}
.box {
  font-size: 1.5rem;
  font-weight: 400;
  color: white;
}

.box2 {
  font-size: 1.5rem;
  font-weight: 400;
  color: white;
  width: 100%;

  margin-top: 30px;
  width: 35vw;
}

.tv-screen {
  position: absolute;
  top: 0%;
  z-index: -1;
  left: 0;
  width: 80%;
  height: 75%;
  margin: 10%;
}

.thirdpage {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: left;
  color: white;
  padding: 50px;
  background-color: black;
}

.fourthpage {
  display: flex;
  background-color: black;
  color: white;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.tv2 {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.secondscreen {
  position: absolute;
  overflow: hidden;
  width: 409px;
  margin-top: -179px;
}
.secondtv {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.fifthpage {
  display: flex;
  flex-direction: row;
  background-color: black;
}

.box5 {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.sixthpage {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  background-color: black;
}

.qa {
  color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.faq {
  background-color: rgb(45, 45, 45);
  width: 90%;
  margin: 0.5rem auto;
  font-size: 1.5rem;
  font-weight: 400;
  display: flex;
  padding: 1.5rem;
  cursor: pointer;
  justify-content: space-between;
  max-width: calc(100% - 3rem);
  text-align: left;
  line-height: 2rem;
}
.svg {
  width: 1.5rem;

  color: white;
}

.ready {
  height: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  color: white;
  font-family: "Martel Sans", sans-serif;
  font-weight: 200;
  font-style: normal;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  margin: 60px 0px;
}

.hero{
  font-size: 1.5rem;
}
.grid {
  display: flex;
  list-style: none;
  text-align: left;
  width: 100vw;
  flex-direction: column;
  margin: auto;
  margin-left: 2rem;
  font-size: 1rem;
  gap: 1.5rem;
}
.seventhpage {
  display: inline-flex;
  flex-wrap: wrap;
  background-color: black;
  color: rgb(255, 255, 255, 0.7);
  font-size: 1.2rem;
  padding-top: 2rem;
  position: relative;
  width: 100vw;
}
ul {
  display: inline-flex;
  list-style: none;
  flex-wrap: wrap;
  row-gap: 1rem;
}
li {
  display: flex;
  width: 25%;
  text-decoration: underline;

  cursor: pointer;
}
#language {
  z-index: 10;
  position: relative;
  padding: 0.5rem 1.5rem;
  color: white;
  background-color: black;
  box-sizing: border-box;
  background: transparent;
  border-radius: 3px;
  font-size: 1rem;
  margin: 1rem 0;
}

.footer{
  margin-left: 2rem;
  text-decoration: none;
  
}

@media only screen and (max-width: 960px) {
  .h1 {
    font-size: 2rem;
    font-weight: 800;
    text-align: center;
  }
  li {
    width: 50%;
  }
  .card .st p {
    margin: 0px;
    font-size: 0.8rem;
  }
  span {
    font-size: 1.2rem;
  }
  .tv {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .box2 {
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 100%;
    text-align: center;
    margin-top: 33px;
  }
  .enjoy {
    margin: auto;
  }
  .text {
    justify-content: center;
    align-items: center;
  }
  .login {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
  }
  .img {
    width: 137px;
  }
  nav {
    width: 98vw;
    display: flex;
  }
  .sign {
    margin-right: 10px;
  }
  .strange {
    font-size: 1rem;
  }
  #lang {
    padding: 0.5rem 1.5rem;
  }
  .main {
    background-size: cover;
    height: 40rem;
  }
  .box {
    height: 40rem;
  }
  .thirdpage {
    flex-direction: column-reverse;
    gap: 20px;
  }
  .card {
    width: auto;
  }
  .fourthpage {
    flex-direction: column;
  }
  .fifthpage {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }
  .fifthpage .fifthimg {
    width: 100vw;
  }
  #card {
    width: 75%;
    margin-top: 43%;
  }
}


@media only screen and (max-width: 600px) {
  .login{
    flex-direction: column;
  }

  #email{
    width: 75vw;
  }
}
@media only screen and (max-width: 309px) {
  nav {
    flex-direction: column;
    position: relative;
  }
  #email {
    padding: 1rem 0rem;
  }
  .text {
    position: relative;
    text-align: center;
  }
  .h1 {
    font-size: 1rem;
  }
  .box2 {
    font-size: 0.9rem;
  }

  .secondscreen {
    margin-top: -50px;
  }
  .card {
    width: auto;
    padding: 0rem;
    gap: 0px;
  }

  .thirdpage.thirdpageimage.card {
    width: auto;
  }
  .fifthimg {
    width: 100vw;
  }
  #email,
  #submit {
    font-size: 1rem;
  }

  .st {
    margin: 0;
  }
  #card {
    gap: 0;
  }
  #default {
    width: 2rem;
  }
}

.mobile {
  position: relative;

  width: 100%;
  height: 100%;
}
.card {
  display: flex;
  flex-direction: row;
  gap: 10px;
  border-radius: 15px;
  margin-top: 28%;
  border: 2px solid rgb(116, 112, 112);
  padding: 23px 23px;
  background-color: black;
  position: absolute;
  z-index: 10;
}
p {
  line-height: 1;
  padding: 3px;
  color: white;
}

.st {
  margin: 5px 13px;
}
.downloading {
  color: blue;
}
.thirdpageimage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.default {
  width: 3rem;
  height: 3rem;
  outline: 2px solid rgb(0, 0, 0);
  outline-offset: -2px;
  display: block;
  background: url(https://assets.nflxext.com/ffe/siteui/acquisition/ourStory/fuji/desktop/download-icon.gif)
    center center no-repeat;
  -webkit-background-size: 100%;
  background-size: 100%;
  content: "";
  -webkit-box-flex: 0;
  -webkit-flex-grow: 0;
  -ms-flex-positive: 0;
  margin: auto;
  flex-grow: 0;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}

.strange {
  font-size: 1.2rem;
  font-weight: 600;
}

@media screen and (min-width: 960px) {
  .h1 {
    font-size: 3rem;
    font-weight: 900;
  }
}

@media only screen and (max-width: 630px) {
  .secondscreen {
    width: 65%;
    margin-top: -110px;
  }
}

@media only screen and (min-width: 1630px) {
  .box2 {
    justify-content: center;
    text-align: center;
    align-items: center;
  }
  .lcd {
    margin: auto;
  }
  .fifthpage {
    justify-content: center;
    align-items: center;
  }
}

@media only screen and (max-width: 3700px) {
  #email {
    font-size: 1.2rem;
  }
}

.screen {
  position: absolute;
  top: 0%;
  z-index: -1;
  left: 0;
  width: 65%;
  height: 75%;
  margin: -3% 16%;
}

@media only screen and (max-width: 393px) {
  nav {
    justify-content: space-between;
    align-items: center;
  }
  #lang {
    padding: 0.3rem 1.5rem;
    width: 1vw;
    line-height: 15px;
  }
  #submit {
    font-weight: 550;
  }
  .sign {
    padding: 0.5rem;
  }
  #card {
    padding: 0px;
    margin-top: 9rem;
  }
  #card img {
    margin: 3px;
  }
}

@media only screen and (max-width: 262px) {
  #default {
    width: 0;
  }
  body {
    background: scroll;
    background-color: black;
  }
}

@media only screen and (min-width: 1300px) {
  #card {
    margin-top: 20%;
  }
}
